- unless @active_projects.empty?
  .sidebarBlock
    %h2= :active_projects.l
    .blockContent
      %ul
        - @active_projects.each do |project|
          %li= link_to (h project.name), project_path(:id => project.id)

- unless @finished_projects.empty?
  .sidebarBlock
    %h2= :finished_projects.l
    .blockContent
      %p= :archived_projects_list_info.l
      %ul.listWithDetails
        - @finished_projects.each do |project|
          %li
            = link_to (h project.name), project_path(:id => project.id)
            %br/
            %span.desc= "(#{:project_completed_time_with_user.l_with_args( :time => format_usertime(project.completed_on, :project_completed_time_format), :user => link_to(h(project.completed_by.display_name), user_path(:id => project.completed_by.id)) )})"