- if Project.can_be_created_by(@logged_user)
  - @page_actions = [{:title => :add_project, :url=> new_project_path}]

- if @logged_user.member_of_owner? and !Company.owner.hide_welcome_info
  #new_account_info.hint
    .header= :welcome_to_new_account.l
    .content= :welcome_to_new_account_info.l_with_args(:user => h(@logged_user.display_name), :url => "<a href=\"#{AppConfig.site_url}\">#{AppConfig.site_url}</a>")
    - new_account_steps(@logged_user).each do |step|
      .header= step[:del] ? "<del>#{step[:title]}</del>" : "#{step[:title]}"
      .content= step[:del] ? "<del>#{step[:content]}</del>" : "#{step[:content]}"

    - if @logged_user.is_admin
      %p= link_to :hide_welcome_info.l, hide_welcome_info_company_path(Company.owner), :class => 'cancel'

- if @late_milestones.length > 0 or !@calendar_milestones.empty?
  #lateOrTodayMilestones.block
    .header= :milestones_summary.l_with_args :adjetives => [!@late_milestones.empty? ? :late.l : nil, !@calendar_milestones.empty? ? :upcoming.l : nil].compact.to_sentence                    |

    - if @late_milestones.length > 0
      %h2= :late_milestones.l
      %ul
        - @late_milestones.each do |milestone|
          %li
            - unless milestone.assigned_to.nil?
              = h milestone.assigned_to.object_name
              \:
            = :milestone_in.l_with_args(:milestone => link_to(h(milestone.name), milestone_path(:id => milestone.id, :active_project => milestone.project)), :project => link_to(h(milestone.project.name), project_path(:id => milestone.project.id)))
            (
            %span.error>= :milestone_days_late.l_with_args(:days => milestone.days_late)
            )

- unless @calendar_milestones.empty?
  %h2= :due_in_next_n_days.l_with_args(:num => 14)
  = index_calendar

- cache "user#{@logged_user.id}_dblog" do
  - if @activity_log.length > 0
    %table.applicationLogs.blank
      %tr
        %th
        %th= :details.l
        %th.right= :project.l
        = render :partial => 'layouts/application_logs', :collection => @activity_log, :locals => {:show_project_column => true}
  - else
    = :no_recent_activities.l