- if users.empty?
  %p= :company_no_users.l
- else
  #usersList
    - users.each do |listed_user|
    %div{:class => "listedUser #{cycle('odd', 'even')}"}
      .userAvatar
        %img{:alt => "#{h listed_user.display_name} avatar", :src => listed_user.avatar_url}/
      .userDetails
        .userName
          %a{:href => "/users/#{listed_user.id}"}= listed_user.display_name
        - if company.is_owner?
        .userIsAdmin
          %span
            = :administrator.l
            \:
          = listed_user.is_admin ? :yesno_yes.l : :yesno_no.l
        .userAutoAssign
          %span
            = :auto_assign.l
            \:
          = listed_user.auto_assign ? :yesno_yes.l : :yesno_no.l
      .userOptions
        = action_list actions_for_user(listed_user)
      .clear