<%
  @page_actions = []
  
  if Project.can_be_created_by(@logged_user)
  	@page_actions << {:title => :add_project, :url => new_project_path}
  end
%>
<% if @projects.length > 0 %>
<table id="projects">
  <tr>
    <th><%= :name.l %></th>
    <th><%= :options.l %></th>
  </tr>

<% @projects.each do |project| -%>
  <tr>
    <td class="long middle"><%= link_to h(project.name), project_path(:id => project.id) %></td>
    <td class="middle"><%= action_list actions_for_project(project) %></td>
  </tr>
<% end %>
</table>
<% else %>
<%= :no_projects_owned_by_company.l %>
<% end %>
