- if application_logs.is_today?
  %tr.logToday
- elsif application_logs.is_yesterday?
  %tr.logYesterday
- else
  %tr.logOlder

%td.logTypeIcon
  %span{:class => "label #{application_logs.rel_object_type.underscore}"}
    = ('label_' << application_logs.rel_object_type.underscore).to_sym.l
%td.logDetails
  %span
    - if not ['Comment', 'ProjectMessage'].include?(application_logs.rel_object_type)
      %b
        = application_logs.friendly_action
        \:
      = application_logs.rel_object.nil? ? h(truncate(application_logs.object_name, 50)) : link_to(h(truncate(application_logs.object_name, 50)), application_logs.rel_object.object_url)

  - if show_project_column
    %br/
    %span.desc
      - if application_logs.is_today?
        = :action_today_with_time.l_with_args(:time => format_usertime(application_logs.created_on, :action_today_fomat))
      - elsif application_logs.is_yesterday?
        = :action_yesterday.l
      - else
        = format_usertime(application_logs.created_on, :action_past_format)

      - if not application_logs.taken_by.nil?
        = link_to (h(application_logs.taken_by.display_name), user_path(:id => application_logs.taken_by.id))

- if show_project_column
  %td.logProject
    - if not application_logs.project.nil?
      = link_to (h(application_logs.project.name), project_path(:id => application_logs.project.id))
- else
  %td.logTakenOnBy
    - if application_logs.is_today?
      = :action_today_with_time.l_with_args(:time => format_usertime(application_logs.created_on, :action_today_fomat))
    - elsif application_logs.is_yesterday?
      = :action_yesterday.l
    - else
      = format_usertime(application_logs.created_on, :action_past_format)
    - if not application_logs.taken_by.nil?
      = :action_by.l_with_args :user => link_to(h(application_logs.taken_by.display_name), user_path(:id => application_logs.taken_by.id))