- unless tabs.nil?
  #tabsWrapper
    - if AppConfig.search_enabled
      #searchBox
        - if @active_project.blank?
          - form_tag :controller => 'dashboard', :action => 'search' do
            %div
              - @search_field_default_value = :search_box_default.l
              - @last_search ||= @search_field_default_value
              - @search_field_attrs = {:onfocus => "if (event.target.value == '#{@search_field_default_value}') event.target.value=''", :onblur => "if (event.target.value == '#{@search_field_default_value}') event.target.value=''", :type => "search"}
              = text_field_tag 'search_id', (h @last_search), @search_field_attrs
        - else
          - form_tag search_project_path(:id => @active_project.id) do
            %div
              - @search_field_default_value = :search_box_default.l
              - @last_search ||= @search_field_default_value
              - @search_field_attrs = {:onfocus => "if (event.target.value == '#{@search_field_default_value}') event.target.value=''", :onblur => "if (event.target.value == '#{@search_field_default_value}') event.target.value=''", :type => "search"}
              = text_field_tag 'search_id', (h @last_search), @search_field_attrs
    
    #tabs
      %ul
        - current_tab = self.current_tab
        - tabs.each do |item|
          %li{:id => "item_#{item[:id]}", :class => item[:id] == current_tab ? "active" : ""}
            %a{:href => item[:url]}
              = item[:id].l
    
    .clear